# SPDX-License-Identifier: GPL-2.0-only

menu "Rockchip media platform drivers"

source "drivers/video/rockchip/rga/Kconfig"
source "drivers/media/platform/rockchip/fec/Kconfig"
source "drivers/media/platform/rockchip/avsp/Kconfig"

endmenu

